/bin/
/package/
gnu-tools-*.tgz
*.o
.dirstamp
stamp-h1
*/po/POTFILES
*/po/Makefile.in
findutils-src/Makefile
findutils-src/*/Makefile
findutils-src/*/*/Makefile

grep-src/Makefile
grep-src/*/Makefile
pcre-src/Makefile
pcre-src/*/Makefile
.deps/
config.h
config.log
config.status
